<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>
    <form method="POST" action="register" class="form-horizontal">
        <input name="id" value='' id="id" placeholder="Id" type="text" class="form-control" />
        <input name="password" id="password" value='' placeholder="Password" type="password" class="form-control" />
        <input name="password_check" id="password_check" value='' placeholder="Password" type="password" class="form-control" />
        <input name="studentId" id="studentId" value='' placeholder="Student Id" type="text" class="form-control" />
        <input name="class" id="class" value='' placeholder="Class" type="text" class="form-control" />
    </form> 
</body>
</html>