<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body>
    <div class="login-box">
        <form method="POST" action="register" class="login-form">
            <h1>회원가입</h1>
            <input name="id" id="id" placeholder="아이디" type="text" class="txtb" />
            <input name="password" id="password" placeholder="비밀번호" type="password" class="txtb" />
            <input name="password_check" id="password_check" placeholder="비밀번호 확인" type="password" class="txtb" />
            <input name="studentId" id="studentId" placeholder="학번" type="text" class="txtb" />
            <input name="certification" id="certification" placeholder="인증번호" type="text" class="txtb" />
        </form>
    </div>
</body>
</html>